
/*	VARIABLES
----------------------------------------------------------------------------------------------------*/

@import "utilities/variables";


/*	BOOTSTRAP
----------------------------------------------------------------------------------------------------*/

@import "bootstrap";

.example {
    display: flex;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
}